p{
    text-align: justify;
}
.h-division{
    text-align: center;
    padding: 50px 0px;
    font-weight: bold;
}
.description-container{
    display: flex;
    align-items: top;
    justify-content: center;
    margin-top: 100px;
}
.left-dc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pacote-items-div{
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.pacote-button{
    position: relative;
    bottom: 15px;
    left: 101.25px;
    text-align: middle;
    background-color: #0a192f;
    color: #f2f2f2;
    border: none;
    padding: 0.7rem 1.7rem;
}
.pacote-button:hover{
    color: #00a86b;
    background-color: #0a192f;
}
.pacote-conteudo{
    flex: 1;
}
.pacote-item{
    max-width: 225px;
}
.services-container{
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
}
.service{
    border-radius: 20px;
    height: 400px;
    width: 300px;
    max-width: 24%;
    background-color: #f2f2f2;
    color: #0a192f;
    display: flex;
    flex-direction: column;
}
.service div{
    font-size: 18px;
}
.service-header{
    text-align: center;
    padding-top: 20px;
}
.feedback-container{
    display: flex;
    gap: 50px;
}
.client-feedback{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    max-width: 400px;
    text-align: justify;
    padding: 20px;
}
.feedback-owner{
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
}
.plans-container{
    padding-top: 50px;
    display: flex;
    gap: 100px;
    align-items: flex-start;
    justify-content: center;
}
.plans-image{
    flex-shrink: 0;
    align-self: center;
    max-width: 30%;
}
.plans-image img{
    border-radius: 10%;
}
.plans-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 




@media (max-width: 1200px){
    .services-container, .feedback-container{
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(12,1fr);
        gap: 50px;
        max-width: 100%;
    }
    .service, .client-feedback{
        grid-column: auto/6 span;
        max-width: 100%;
    }
  }
@media (max-width: 768px){
    .services-container, .feedback-container{
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
        max-width: 100%;
    }
    .service, .client-feedback{
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
    .plans-image, .right-dc{
        display: none;
    }
}