/* Colors: */
/* #0A192F */
/* #1E3E6C */
/* #2F4F2F */
/* #00A86B */
/* #333333 */
/* #F2F2F2 */
/* #B22222 */
/* #FFA500 */
.display {
  color: #0A192F;
  color: #1E3E6C;
  color: #00A86B;
  color: #333333;
  color: #F2F2F2;
  color: #B22222;
  color: #FFA500
}

/*
Main and Containers
*/

.center-card {
  display: flex;
  justify-content: center;
}

.card {
  border: none;
}

.center-card h5 {
  font-style: italic;
  color: rgb(158, 158, 158);
}

/* Container Planos */
.planos-container{
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.plano-treino{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 930px;
  height: 170px;
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  padding: 20px 30px;
}
.plano-description{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.plano-info{
  display: flex;
  gap: 30px;
}
/* Personal Trainer */
.add-plano-container{
  width: 930px;
}
.add-plano{
  display: flex;
  gap: 10px;
  font-size: 1.2rem;
  width: fit-content;
  align-items: center;
  cursor: pointer;
}
.add-plano-circle-outer{
  color: #00A86B;
}
.add-plano:hover span{
  color: #00A86B;
}
.modal-content{
  color: black;
}
.set-rep{
  color: #0a192f !important;
}
.set-rep:focus{
  box-shadow: #0a192f 0px 0px 1px 0px !important;
}
@media (max-width: 575px) {
  .plano-treino{
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
  }
  .add-plano-container,.plano-treino{
    width: 300px;
    max-width: 100%;
  }
  .plano-description{
    justify-content: center;
  }
  .plano-info{
    display: flex;
    flex-direction: column;
  }
}