
.display {
    color: #0A192F;
    color: #1E3E6C;
    color: #00A86B;
    color: #333333;
    color: #F2F2F2;
    color: #B22222;
    color: #FFA500;
  }
/* Personal Trainers & Nutricionistas */
.verified{
    color: deepskyblue;
    font-size: 1.4rem;
    position: absolute;
    transform: translateY(-0.4rem) translateX(10px);
}
/* Footer Top Margin 0 (So we're able to connect the lines) */
.footer {
    margin-top: 0px !important; 
}
/*  */
.profile-box{
    display: flex;
    flex-direction: column;
    border: 2px solid #0A192F;
    width: 100%;
}

.content:not(.is-selected){
    display: none !important;
}
.alpha-60{
    opacity: 0.6;
}
/* Stats Box */
#profile-stats{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
    /* Left Side */
.personal-stats{
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.stats-col{
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 30px;
    width: 400px;
    height: 800px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: #0A192F;
}
.personal-bmi, .personal-macros {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 30px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: #0A192F;
}
.statistic{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    font-size: 20px;
}
.statistic p{
    font-size: 25px;
}
.stats-value{
    background-color: #0A192F;
    color: #f2f2f2;
    width: 100%;
    height: 52px;
    padding: 10px 0px;
    display: grid;
    grid-template-columns: repeat(11,1fr);
}
.stats-input{
    text-align: center;
    width: auto;
    background-color: #0A192F;
    color: #f2f2f2;
    border: none;
    max-width: 100%;
    width: 100px;
    height: 32px;
    grid-column: 6;
}
.bi-pencil{
    grid-column: 10;
}
.bi-pencil:hover{
    cursor: pointer;
}
.bi-pencil:active{
    font-size: 90%;
}
.stats-options{
    display: flex;
    justify-content: center;
    text-align: center;
}
.option{
    flex: 1;
    padding: 10px 0px;
    border: 2px solid #0A192F;
    background: linear-gradient(to left, #f2f2f2 50%, #0a192f 50%) right;
    background-size: 200%;
    transition: 500ms;
}
.option.is-selected{
    cursor: default;
}
.option:not(.is-selected):hover{
    cursor: pointer;
    box-shadow: #0a192f 0px 0px 10px 0px;
}
.option.opt1{
    background: linear-gradient(to right, #f2f2f2 50%, #0a192f 50%) left;
    background-size: 200%;
}
.option.opt2{
    background: linear-gradient(to left, #f2f2f2 50%, #0a192f 50%) right;
    background-size: 200%;
}
.option.opt3{
    background: linear-gradient(to left, #f2f2f2 50%, #0a192f 50%) right;
    background-size: 200%;
}
.is-selected.opt1{
    color: #f2f2f2;
    background-position: right !important;
}
.is-selected.opt2{
    color: #f2f2f2;
    background-position: left !important;
}
.is-selected.opt3{
    color: #f2f2f2;
    background-position: left !important;
}
@keyframes get-selected {
    100%{
        background-color: #0A192F;
    }
}
    /* Right Side */
.personal-results{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.personal-bmi{
    background-color: #f2f2f2;
    border-radius: 30px;
    height: 300px;
    width: 500px;
}
.bmi{
    display: flex;
    width: 100%;
}
.bmi-category{
    flex: 1;
}
.bmi-category.active{
    border: 2px solid #0A192F;
}
.personal-macros{
    background-color: #f2f2f2;
    border-radius: 30px;
    height: 300px;
    width: 500px;
}
/* Plans Box */
#profile-plans{
    width: 100%;
    min-height: 910px;
    padding-bottom: 3rem;
    overflow-y: auto;
}
#profile-plans h1{
    text-align: center;
    padding-top: 3rem;
}
.modal-content{
    color: black;
}
.planos-container{
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    gap: 50px;
}
.plano-treino{
    grid-column: auto / span 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    max-width: 100%;
    height: 250px;
    padding: 20px;
    border: 1px solid #f2f2f2;
    border-radius: 20px;
  }
  .plano-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  .plano-info{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
.sets-information{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
}
.is-6{
    grid-column: auto/span 6;
}
/* Settings Box */
.settings{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2b2e359c;
    padding: 3rem;
    width: 100%;
}
#profile-password{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex: 1;
}
.change-password-btn{
    font-size: 1.25rem;
    border-radius: 0.3rem;
}


/* Profile */

.profile {
    display: flex;
    flex-direction: row;
    flex: 1;
}
.profile-tabs{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 350px;
  text-align: center;
  border-left: 1px solid #f2f2f2;
}
.profile-tabs li{
  list-style-type: none;
}

/* Profile Right Side */
.profile-image{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.profile-image img{
    border: 1px solid #F2F2F2;
    color: #F2F2F2;
    height: 180px;
    width: 180px;
    border-radius: 50%;
}

.profile-username {
    color: #F2F2F2;
}
ul.dropdown-menu{
    width: 100%;
    text-align: center;
    animation: menu-appear 400ms forwards;
}

@keyframes menu-appear {
    0% {
        height: 0px;
    }
    100% {
        height: 99px;
    }
}

@media (max-width: 1200px){
    .profile{
        flex-direction: column-reverse;
        align-items: center;
    }
    .profile-box{ flex: 1; }
    .footer{ margin-top: 48px !important; }
    .profile-tabs{
        flex-direction: row;
        width: auto;
        align-items: center;
        border: none;
        padding-bottom: 3rem;
    }
    .profile-image{
        flex-direction: column;
    }
    .profile-image img{
        width: 145px;
        height: 145px;
    }
    .personal-results{
        gap: 50px;
        margin-bottom: 50px;
    }
    .vh-100{
        height: initial !important;
    }
    .nav-link{
        border-radius: 8px;
    }
    .nav-link.active:hover{
        background-color: #f2f2f2 !important;
        color: initial !important;
        box-shadow: #00A86B 0px 0px 10px 2px;
    }
    .plano-treino{
        grid-column: auto/span 6;
    }
}
@media (max-width: 1000px){
    .profile, .profile-box, .content, .personal-stats, .personal-results{
        width: 100%;
    }
    #profile-stats{
        flex-direction: column;
        gap: 50px;
    }
    .profile-image{
        flex-direction: column;
        margin-bottom: 0px;
    }
    .stats-col{
        max-width: 100%;
    }
    .personal-bmi, .personal-macros{
        width: 450px;
        max-width: 100%;
    }
    .settings{
        flex-direction: column;
        gap: 50px;
    }
}
@media (max-width: 696px){
    .planos-container{
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }
    .profile-tabs{
        flex-direction: column;
    }
    .bmi{
        flex-wrap: wrap;
    }
}