
.display {
    color: #0A192F;
    color: #1E3E6C;
    color: #00A86B;
    color: #333333;
    color: #F2F2F2;
    color: #B22222;
    color: #FFA500;
  }

.profile-box{
    display: flex;
    flex-direction: column;
    border: 2px solid #0A192F;
    width: 100%;
    /* height: 94vh; */
}

.content:not(.is-selected){
    display: none !important;
}

/* Stats Box */
#profile-stats{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inner-box{
    width: 70%;
    align-self: center;
}
.inner-stats{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.statistic{
    display: flex;
    justify-content: space-between;
    font-size: 22px;
}
.statistic a{
    text-decoration: underline;
}

/* Form Input */
.form-weight{
    text-align: center;
    border: 2px solid #0A192F;
    border-radius: 8px;
    max-width: 120px;
}
.btn-weight{
    margin-left: 20px;
    background-color: #0A192F;
    color: #F2F2F2;
}
.btn-weight:hover{
    background-color: #0A192F;
    color: #00A86B;
}

/* Profile */

.profile {
    display: flex;
    flex-direction: row;
}

.profile-tabs{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #0A192F;
  width: 22%;
  text-align: center;
}
.profile-tabs li{
  list-style-type: none;
}



/* Profile Right Side */
.profile-image{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.profile-image img{
    border: 1px solid #F2F2F2;
    color: #F2F2F2;
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
}

.profile-username {
    color: #F2F2F2;
}
ul.dropdown-menu{
    width: 100%;
    text-align: center;
    animation: menu-appear 400ms forwards;
}

@keyframes menu-appear {
    0% {
        height: 0px;
    }
    100% {
        height: 99px;
    }
}