.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1) 40%, rgba(37, 117, 252, 1)) 90%;

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1) 40%, rgba(37, 117, 252, 1) 90%)
}


/* Login / Register */
    /* Translação de 'Email' e 'Password' */
    .form-outline .form-control.form-control-lg.active~.form-label,.form-outline .form-control.form-control-lg:focus~.form-label {
        transform: translateY(-2.0rem) translateY(.1rem) scale(.8);
    }
    .form-outline .form-control.form-control-lg.active~.form-label,.form-outline .form-control.form-control-lg:not(:placeholder-shown)~.form-label {
        transform: translateY(-2.0rem) translateY(.1rem) scale(.8)
    }

    .form-outline.form-white .form-control{
        border: 1px solid white;
    }

/* Planos de Treino */
.container-plano{
    background: darkblue !important;
}