/* Colors: */
/* #003b39 */
/* #3fb7ce */
/* #0e4468 */
/* #0a3246 */
/* #4ca4d5 */
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    background: #353531;
}
.gradient-custom {
    /* fallback for old browsers */
    background: #353531;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #f2545b , hsl(377, 84%, 64%) 70%);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #f2545b, hsl(377, 84%, 64%) 70%);
}


/* Login / Register */
    /* Translação de 'Email' e 'Password' */
    .form-outline .form-control.form-control-lg.active~.form-label,.form-outline .form-control.form-control-lg:focus~.form-label {
        transform: translateY(-2.0rem) translateY(.1rem) scale(.8);
    }
    .form-outline .form-control.form-control-lg.active~.form-label,.form-outline .form-control.form-control-lg:not(:placeholder-shown)~.form-label {
        transform: translateY(-2.0rem) translateY(.1rem) scale(.8)
    }

    .form-outline.form-white .form-control{
        border: 1px solid white;
    }

/* Navbar */
.nav-link:hover {
    color: #f2545b;
}
.navbar-color{
    background: #151514;
}
.nav-text{
    color: #f2545b;
}
/* main container */
.main-container{
    gap: 50px;
    margin-top: 30px;
}
/* Containers de Planos de Treino */
.container-planos{
    border: 1px solid black;
}
.container-plano{
    border: 2px solid black;
    border-radius: 8px;
    background-color: hsl(60, 4%, 28%) !important;
    color: #FEF8EC;
}

/* Buttons */
.buttons{
    background-color: #f2545b;
    color: #151514;
    border: 3px solid #353531;
}
.btn-link:hover{
    color: white;
    border: 1px solid #f2545b;
    background-color: transparent;
}
.button-plan{
    border-radius: 20px;
}
.btn-sign-up{
    background: linear-gradient(to right, #f2545b, hsl(377, 84%, 64%) 70%);
    color: #151514;
}
.btn-sign-up:hover{
    color: #FEF8EC;
}
.btn-sign-up:first-child:hover, .btn-sign-up:focus-visible, .btn-sign-up:hover, :not(.btn-check)+.btn-sign-up:hover {
    box-shadow: 0 8px 9px -4px hsla(167, 57%, 51%, 0.068),0 4px 18px 0 hsla(167, 57%, 51%, 0.068);
}
.btn-custom-primary{
    transform: scale(0.9);
    border-radius: 8px;
    border: 2px solid #FEF8EC;
}
.btn-custom-primary:hover{
    background-color: #850a10;
    color: #FEF8EC;
    border: 2px solid #f2545b;
}
.btn-custom-secondary{
    transform: scale(0.9);
    border-radius: 8px;
    border: 1px solid black;
    background-color: #fbc6c9;
    color: #151514;
}
.btn-custom-secondary:hover{
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

/*  */

.go-back, .go-back:hover {
    font-size: 2rem;
    width: min-content;
    border-radius: 20px;
    padding: 0px 3px 0px 3px;
    border: 5px solid transparent;
    position: relative;
    top: 30px;
    left: 30px;
    cursor: pointer;
    color: white;
}
.go-back:hover{
    background-color: white;
    color: black;
}

/* Error Spans */
/* #email{

} */
#email-error, #password1-error, #password2-error{
    display: block;
    text-align: left;
    color: hsl(12, 75%, 65%);
}