.display {
    color: #0A192F;
    color: #1E3E6C;
    color: #00A86B;
    color: #333333;
    color: #F2F2F2;
    color: #B22222;
    color: #FFA500;
}

p {
    text-align: justify;
}

/* Title and Subtitle */

.center-card {
    display: flex;
    justify-content: center;
}

.card {
    border: none;
}

.center-card h5 {
    font-style: italic;
    color: rgb(158, 158, 158);
}

/* End Title and Subtitle */

.borderImg {
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border: 4px solid white;
}

.list-unstyled li::before {
    content: "•";
    margin-right: 5px;
}

.image-container {
    position: relative;
    display: inline-block;
}

.imageHover {
    transition: 0.3s;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.6s;
}

.image-container:hover .imageHover {
    filter: brightness(30%);
}

.image-container:hover .image-text {
    opacity: 1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
  
.modal-content {
    background-color: #0A192F;
    margin: auto;
    padding: 20px;
    width: 60%;
    max-width: 590px;
    text-align: center;
    border-radius: 50px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-img {
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    border: 4px solid white;
    object-fit: cover;
}

/* Modal - Switch this*/
#openModalBtn {cursor: pointer;}
#openModalBtn2 {cursor: pointer;}
#openModalBtn3 {cursor: pointer;}
.modal h5 {color: #00A86B;}
.modal a{color: white;}
.modal i{font-size: 18pt;}

.imageSize {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/* ChatBox css */
.chatBox {
    display: none;
    position: fixed;
    right: 30px;
    bottom: 0px;
    width: 370px;
    height: 500px;
    background-color: #0A192F;
    border: 4px solid #ccc;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom: 0px;
    padding: 15px;
    z-index: 2;
    padding-top: 30px;
}

.message-container {
    max-height: 340px;
    overflow-y: auto;
    overflow-wrap: break-word;
    padding-right: 5px;
}
.message-container::-webkit-scrollbar {width: 10px;}
.message-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}
.message-container::-webkit-scrollbar-thumb:hover {background-color: #555;}
.message-container::-webkit-scrollbar-thumb:active {background-color: #444;}

.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.inputChat {
    position: absolute;
    bottom: 20px;
}

.inputChat input {
    background-color: #0A192F;
    border: 1px solid #00A86B;
    color: white;
    border-radius: 10px;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1rem;
    width: 100%;
    height: 100%;
}

.chatStickyBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #00A86B;
    color: white;
    padding: 14px 22px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
}

.message_box {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 20px;
    margin-bottom: 8px;
    margin-left: auto;
    background-color: #20487f;;
    border-radius: 13px;
    border-end-end-radius: 0px;
    max-width: 250px;
    width: fit-content;
}

.message_box_other {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-left: 10px;
    padding-right: 20px;
    margin-bottom: 8px;
    background-color: #193459;
    border-radius: 13px;
    border-end-start-radius: 0px;
    max-width: 250px;
    width: fit-content;
}

#conversas{
    max-height: 400px;
    overflow-y: auto;
    overflow-wrap: break-word;
}
#conversas::-webkit-scrollbar {width: 10px;}
#conversas::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}
#conversas::-webkit-scrollbar-thumb:hover {background-color: #555;}
#conversas::-webkit-scrollbar-thumb:active {background-color: #444;}