{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/about.css')}}">
{% endblock %}
{% block body %}
<div class="top-container text-center">
    <img class="img-fluid" src="{{url_for('static', filename='images/analise_sistemas.png')}}">
</div>
<div class="main-container container">
    <div class="sub-container-equipa">
        <h1 style="text-align: center;">Equipa</h1>
        <hr>
        <div class="equipa">
            <div class="pessoa">
                <img class="pessoa-image" src="{{url_for('static', filename='images/afonso.jpeg')}}">
                <hr>
                <p>
                    Nome: Afonso Baixo
                    <br>
                    Email: afonso.baixo@ua.pt
                </p>
            </div>
            <div class="pessoa">
                <img class="pessoa-image" src="{{url_for('static', filename='images/Ricardo.jpeg')}}">
                <hr>
                <p>
                    Nome: Ricardo Dias
                    <br>
                    Email: rndias@ua.pt
                </p>
            </div>
        </div>
    </div>
    <hr> 
    <div class="slide-content">
        <div class="slide-question">
            <h1 class="question">Objetivo do nosso website</h1>
        </div>
        <div class="slide-info">
            <p class="info">
                O objetivo deste website é fornecer uma plataforma abrangente e conveniente para aqueles que 
                desejam melhorar sua saúde, forma física e estilo de vida geral. 
                O site é projetado para oferecer uma variedade de recursos e serviços relacionados à nutrição, 
                treinamento e acompanhamento personalizado.
            </p>
        </div>
    </div>
</div>
{% endblock %}