{% extends "base.html" %}
{% block title %}Aulas Online - Built Different{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/classes.css')}}">
{% endblock %}
{% block body %}
<!-- Custom Content -->

    <div class="center-card">
        <div class="card card-inherit bg-transparent">
            <div class="card-body text-truncate">
                <h1 class="mt-5">
                    Aulas Online
                </h1>
                <h5 class="mt-2">
                    <a href="/plans" style="text-decoration: none; color: inherit;">
                        Consulte Planos de Treino
                    </a>
                </h5>        
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <hr>
        <div class="row m-5">
            <div class="col-lg-7 me-5 mb-5">
                <div class="video-wrapper">
                    <iframe width="885" height="498" src="https://www.youtube.com/embed/UheajlsZ72E" id="videoPlayer1" 
                    title="10 Min Fat Burning Workout | No Equipment" frameborder="0" allow="accelerometer; autoplay;
                     clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-4 px-4" style="border:1px solid #ccc; border-radius: 20px;">
                <h2>
                    Cardio
                </h2>
                <hr>
                <p>
                    Neste vídeo de treino de 10 minutos, você encontrará um conjunto de exercícios eficazes que visam 
                    queimar gordura corporal e melhorar a resistência cardiovascular. O treino é projetado para ser realizado 
                    sem a necessidade de equipamentos, o que significa que você pode realizá-lo em qualquer lugar, a qualquer momento. 
                </p>
                <button class="playButton" id="playButton1">Assistir</button>
            </div>
        </div>
        <hr>
        <div class="row m-5">
            <div class="col-lg-4 me-5 mb-5 px-4" style="border:1px solid #ccc; border-radius: 20px;">
                <h2>
                    Corpo Inteiro
                </h2>
                <hr>
                <p>
                    Neste vídeo de treino de 15 minutos, você encontrará um programa completo de exercícios que visam trabalhar 
                    todos os principais grupos musculares do corpo sem a necessidade de equipamentos. A particularidade deste treino
                    é que não há repetições, o que significa que cada exercício é único ao longo do tempo. 
                    O instrutor do vídeo irá guiá-lo por uma sequência de movimentos desafiadores que 
                    envolvem os braços, pernas, abdominais, costas e glúteos.
                </p>
                <button class="playButton" id="playButton2">Assistir</button>
            </div>
            <div class="col-lg-7">
                <div class="video-wrapper">
                    <iframe src="https://www.youtube.com/embed/FLQqCyhTQdE" title="15 Min Full Body Workout | NO EQUIPMENT |
                     NO REPEATS" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
                      picture-in-picture; web-share" allowfullscreen id="videoPlayer2"></iframe>
                </div>
            </div>
        </div>
        <hr>
        <div class="row mx-5 mt-5">
            <div class="col-lg-7 me-5 mb-5">
                <div class="video-wrapper">
                    <iframe src="https://www.youtube.com/embed/ehXOS9mMrcU" title="10 min Every Morning Full Body Stretch
                     l Cool down, Flexibility, Recovery" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                      encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen id="videoPlayer3" ></iframe>
                </div>
            </div>
            <div class="col-lg-4 px-4" style="border:1px solid #ccc; border-radius: 20px;">
                <h2>
                    Alongamentos
                </h2>
                <hr>
                <p>
                    O objetivo principal deste treino é promover relaxamento, aumentar a flexibilidade muscular e auxiliar na recuperação do corpo.
                    Os movimentos são realizados de forma suave e sem pressa, permitindo que você sinta o alongamento e mantenha uma respiração profunda e 
                    relaxada ao longo do processo. Estes exercícios ajudam a soltar a tensão acumulada durante a noite, melhoram a circulação sanguínea e 
                    preparam o corpo para um dia ativo.
                </p>
                <button class="playButton" id="playButton3">Assistir</button>
            </div>
        </div>
    </div>
</div>
<!-- Custom JS -->
<script src="{{ url_for('static', filename='javascript/classes.js')}}"></script>
{% endblock %}