{% extends "base.html" %}
{% block title %}Built Different{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
{% endblock %}
{% block body %}
<!-- Custom Content -->
<div class="container description-container">
  <div class="left-dc">
    <p>Esta plataforma visa ajudar aqueles que não têm possibilidade de se deslocar físicamente a um ginásio.
      Assim toda a gente tem a possibilidade de treinar com qualidade e de contactar um personal trainer e/ou
      nutricionista para seu auxílio.
    </p>
    <button onclick="location.href='/about';">Sobre nós</button>
  </div>
  <div class="right-dc">
    <img class="img-fluid" src="{{url_for('static', filename='images/built_different.png')}}" alt="Deadlift Character">
  </div>
</div>
<div class="container services-container">
  <div class="service">
    <h1 class="service-header" style="min-height: 116px;">Pacote Iniciante</h1>
    <div class="d-flex flex-column pacote-conteudo">
      <div class="d-flex justify-content-between pacote-items-div">
        <div class="pacote-item">Aulas Online Ilimitadas</div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
          class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </svg>
      </div>
      <div class="d-flex justify-content-between pacote-items-div">
        <div class="pacote-item">Acesso a todos os planos</div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
          class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </svg>
      </div>
    </div>
    <div class="pacote-price">6.00€</div>
    <div class="pacote-obter">
      <button class="pacote-button">Obter</button>
    </div>
  </div>
  <div class="service">
    <h1 class="service-header" style="min-height: 116px;">Personal Trainer</h1>
    <div class="d-flex flex-column pacote-conteudo">
      <div class="d-flex justify-content-between pacote-items-div">
        <div class="pacote-item">Aulas Online Ilimitadas</div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
          class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </svg>
      </div>
      <div class="d-flex justify-content-between pacote-items-div">
        <div class="pacote-item">Acesso a todos os planos</div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
          class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </svg>
      </div>
      <div class="d-flex justify-content-between pacote-items-div">
        <div class="pacote-item">Comunicação <span title="Personal Trainer">(PT)</span></div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
          class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </svg>
      </div>
    </div>
    <div class="pacote-price">10.00€</div>
    <div class="pacote-obter">
      <button class="pacote-button">Obter</button>
    </div>
  </div>
  <div class="service">
    <h1 class="service-header" style="min-height: 116px;">Nutricionista</h1>
    <div class="d-flex flex-column pacote-conteudo">
      <div class="d-flex justify-content-between pacote-items-div">
        <div class="pacote-item">Aulas Online Ilimitadas</div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
          class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </svg>
      </div>
      <div class="d-flex justify-content-between pacote-items-div">
        <div class="pacote-item">Acesso a todos os planos</div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
          class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </svg>
      </div>
      <div class="d-flex justify-content-between pacote-items-div">
        <div class="pacote-item">Comunicação <span title="Nutricionista">(NT)</span></div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
          class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </svg>
      </div>
    </div>
    <div class="pacote-price">10.00€</div>
    <div class="pacote-obter">
      <button class="pacote-button">Obter</button>
    </div>
  </div>
  <div class="service">
    <h1 class="service-header" style="min-height: 116px;">Personal T. & Nutricionista</h1>
    <div class="d-flex flex-column pacote-conteudo">
      <div class="d-flex justify-content-between pacote-items-div">
        <div>Aulas Online Ilimitadas</div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
          class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </svg>
      </div>
      <div class="d-flex justify-content-between pacote-items-div">
        <div class="pacote-item">Acesso a todos os planos</div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
          class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </svg>
      </div>
      <div class="d-flex justify-content-between pacote-items-div">
        <div class="pacote-item">Comunicação (Todos)</div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
          class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </svg>
      </div>
    </div>
    <div class="pacote-price">18.00€</div>
    <div class="pacote-obter">
      <button class="pacote-button">Obter</button>
    </div>
  </div>
</div>
<h1 class="h-division">Avaliações</h1>
<div class="container feedback-container">
  <div class="client-feedback">
    Estava cansado de tentar emagrecer sozinho e não obter resultados satisfatórios.
    Decidi procurar ajuda profissional <span>...ler mais</span>
    <h6 class="feedback-owner">Laura Carreira (Estudante) 19 Anos</h6>
  </div>
  <div class="client-feedback">
    Sou uma pessoa muito ocupada e sempre tive dificuldades para encaixar
    atividades físicas e uma alimentação saudável na minha rotina <span>...ler mais</span>
    <h6 class="feedback-owner">Pedro Oliveira (Trabalhador) 42 Anos</h6>
  </div>
  <div class="client-feedback">
    Sempre tive dificuldades para manter a motivação e o foco na prática
    de exercícios físicos e na alimentação saudável <span>...ler mais</span>
    <h6 class="feedback-owner">Vasco Gomes (Estudante) 19 Anos</h6>
  </div>
</div>
<div class="container plans-container">
  <div class="plans-image">
    <img class="img-fluid" src="{{url_for('static', filename='images/person.png')}}" alt="men lifting dumbbells">
  </div>
  <div class="plans-info">
    <h1 class="h-division">Planos de Treino</h1>
    <div class="plans-description">
      Os Planos de Treino disponibilizados no nosso website foram elaborados exclusivamente pelos nossos personal
      trainers, os quais possuem ampla experiência e formação na área de educação física e saúde.
      Temos o compromisso de oferecer aos nossos clientes conteúdo de qualidade e confiança, por isso, todas as
      informações presentes nos nossos planos de treino foram criteriosamente selecionadas e organizadas por
      profissionais especializados.
    </div>
    <button style="margin-top: 20px;" onclick="location.href='/plans'">Ver Planos</button>
  </div>
</div>
<!-- Custom JS -->
<!-- <script src="{{ url_for('static', filename='javascript/main.js')}}"></script> -->
{% endblock %}