{% extends "base.html" %}
{% block title %}Planos - Built Different{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/plans.css')}}">
{% endblock %}
{% block body %}
<!-- Custom Content -->
<div class="center-card">
  <div class="card card-inherit bg-transparent">
    <div class="card-body text-truncate">
      <h1 class="mt-5">Planos de Treino</h1>
      <h5 class="mt-2">Consulte Aulas Online</h5>
    </div>
  </div>
</div>
<div class="planos-container">
  <!-- Plano 1 -->
  <div class="plano-treino container">
    <div class="plano-description">
      <div class="plano-title">
        <h3 class="m-0">Treino de Peito</h3>
        <div>Autor: Nuno Oliveira</div>
      </div>
      <div class="plano-info">
        <span>Tipo: Hipertrofia</span>
        <span>Dificuldade: Avançado</span>
      </div>
    </div>
    <div class="plano-show">
      <button>Ver Plano</button>
    </div>
  </div>
  <!-- Plano 2 -->
  <div class="plano-treino container">
    <div class="plano-description">
      <div class="plano-title">
        <h3 class="m-0">Treino de Pernas</h3>
        <div>Autor: Ronnie Coleman</div>
      </div>
      <div class="plano-info">
        <span>Tipo: Hipertrofia</span>
        <span>Dificuldade: Avançado</span>
      </div>
    </div>
    <div class="plano-show">
      <button>Ver Plano</button>
    </div>
  </div>
</div>
<!-- Custom JS -->
<script src="{{ url_for('static', filename='javascript/plans.js')}}"></script>
{% endblock %}