{% extends "base.html" %}
{% block title %}Planos - Built Different{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/plans.css')}}">
{% endblock %}
{% block body %}
<!-- Custom Content -->
<div class="center-card">
  <div class="card card-inherit bg-transparent">
    <div class="card-body text-truncate">
      <h1 class="mt-5">Planos de Treino</h1>
      <h5 class="mt-2">
        <a href="/classes" style="text-decoration: none; color: inherit;">
            Consulte Aulas Online
        </a>
    </h5>
    </div>
  </div>
</div>
<div class="planos-container">
  {% if type == '0' %}
  <div class="add-plano-container container">
    <div class="add-plano" type="button" data-bs-toggle="modal" data-bs-target="#Backdrop">
      <svg class="add-plano-circle" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
        class="bi bi-plus-circle" viewBox="0 0 16 16">
        <path class="add-plano-circle-outer"
          d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
        <path class="add-plano-circle-inner"
          d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
      </svg>
      <span>Adicionar Plano</span>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="Backdrop" tabindex="-1" aria-labelledby="BackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" id="add-plano-modal">
        <div class="modal-header">
          <h5 class="modal-title" id="BackdropLabel">Adicionar Plano</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputSelectTreino"><i class="fas fa-dumbbell"></i></label>
            <select class="form-select" id="inputSelectTreino">
              <option hidden selected>Treino de...</option>
              <option value="1">Treino de Pernas</option>
              <option value="2">Treino de Peito</option>
              <option value="3">Treino de Costas</option>
              <option value="4">Treino de Bicep</option>
              <option value="5">Treino de Tricep</option>
              <option value="6">Treino de Ombros</option>
            </select>
          </div>
          <div class="input-group mb-3" id="inputGroupSets">
            <label class="input-group-text" for="inputSelectSets"><i class="bi bi-repeat"></i></label>
            <select class="form-select" id="inputSelectSets">
              <option hidden selected>Nº de Sets...</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <div class="input-group mb-3" id="inputGroupSetsReps">

          </div>
          <div class="input-group mb-3 group-exercise">
            <label class="input-group-text" for="inputSelectEx1"><i class="bi bi-activity"></i></label>
            <select class="form-select select-exercicio" id="inputSelectEx1">
              <option hidden selected>Exercício 1...</option>
              <option value="1" class="ex-pernas">Agachamento</option>
              <option value="2" class="ex-pernas">Lunges (avanços)</option>
              <option value="3" class="ex-pernas">Extensões de pernas</option>
              <option value="4" class="ex-pernas">Elevações de panturrilha</option>
              <option value="5" class="ex-pernas">Prensa de pernas</option>
              <option value="6" class="ex-pernas">Afundos</option>
              <option value="7" class="ex-pernas">Stiff</option>
              <option value="8" class="ex-pernas">Glúteos em 4 apoios</option>

              <option value="9" class="ex-peito">Supino reto</option>
              <option value="10" class="ex-peito">Supino inclinado</option>
              <option value="11" class="ex-peito">Supino declinado</option>
              <option value="12" class="ex-peito">Flexões de peito</option>
              <option value="13" class="ex-peito">Crucifixo</option>
              <option value="14" class="ex-peito">Peck deck</option>
              <option value="15" class="ex-peito">Apoio de peito em paralelas</option>
              <option value="16" class="ex-peito">Flyes</option>

              <option value="17" class="ex-bicep">Bíceps direta</option>
              <option value="18" class="ex-bicep">Bíceps alternada</option>
              <option value="19" class="ex-bicep">Bíceps concentrada</option>
              <option value="20" class="ex-bicep">Bíceps martelo</option>
              <option value="21" class="ex-bicep">Bíceps Scott</option>
              <option value="22" class="ex-bicep">Bíceps 21</option>
              <option value="23" class="ex-bicep">Bíceps inversa</option>
              <option value="24" class="ex-bicep">Bíceps spider</option>

              <option value="25" class="ex-tricep">Tríceps testa</option>
              <option value="26" class="ex-tricep">Tríceps francês</option>
              <option value="27" class="ex-tricep">Pulley tríceps</option>
              <option value="28" class="ex-tricep">Dips</option>
              <option value="29" class="ex-tricep">Extensões de tríceps</option>
              <option value="30" class="ex-tricep">Supino fechado</option>
              <option value="31" class="ex-tricep">Fundos entre bancos</option>

              <option value="32" class="ex-ombros">Desenvolvimento militar</option>
              <option value="33" class="ex-ombros">Elevações laterais</option>
              <option value="34" class="ex-ombros">Remada alta</option>
              <option value="35" class="ex-ombros">Elevações frontais</option>
              <option value="36" class="ex-ombros">Elevações de ombros</option>
              <option value="37" class="ex-ombros">Desenvolvimento com halteres sentado</option>
              <option value="38" class="ex-ombros">Desenvolvimento Arnold</option>
              <option value="39" class="ex-ombros">Encolhimentos de ombros</option>

              <option value="40" class="ex-costas">Barra fixa</option>
              <option value="41" class="ex-costas">Puxada de frente</option>
              <option value="42" class="ex-costas">Remada com barra</option>
              <option value="43" class="ex-costas">Remada unilateral</option>
              <option value="44" class="ex-costas">Pulldown</option>
              <option value="45" class="ex-costas">Remada curvada</option>
              <option value="46" class="ex-costas">Hiperextensões</option>
              <option value="47" class="ex-costas">Puxada alta</option>
            </select>
            <label class="input-group-text" for="inputSelectDescansoEx1"><i class="bi bi-stopwatch"></i></label>
            <select class="form-select" id="inputSelectDescansoEx1">
              <option hidden selected>Descanso...</option>
              <option value="1">1:00</option>
              <option value="2">2:00</option>
              <option value="3">3:00</option>
            </select>
          </div>
          <!-- Input Group 2 -->
          <div class="input-group mb-3 group-exercise">
            <label class="input-group-text" for="inputSelectEx2"><i class="bi bi-activity"></i></label>
            <select class="form-select select-exercicio" id="inputSelectEx2">
              <option hidden selected>Exercício 2...</option>
              <option value="1" class="ex-pernas">Agachamento</option>
              <option value="2" class="ex-pernas">Lunges (avanços)</option>
              <option value="3" class="ex-pernas">Extensões de pernas</option>
              <option value="4" class="ex-pernas">Elevações de panturrilha</option>
              <option value="5" class="ex-pernas">Prensa de pernas</option>
              <option value="6" class="ex-pernas">Afundos</option>
              <option value="7" class="ex-pernas">Stiff</option>
              <option value="8" class="ex-pernas">Glúteos em 4 apoios</option>

              <option value="9" class="ex-peito">Supino reto</option>
              <option value="10" class="ex-peito">Supino inclinado</option>
              <option value="11" class="ex-peito">Supino declinado</option>
              <option value="12" class="ex-peito">Flexões de peito</option>
              <option value="13" class="ex-peito">Crucifixo</option>
              <option value="14" class="ex-peito">Peck deck</option>
              <option value="15" class="ex-peito">Apoio de peito em paralelas</option>
              <option value="16" class="ex-peito">Flyes</option>

              <option value="17" class="ex-bicep">Bíceps direta</option>
              <option value="18" class="ex-bicep">Bíceps alternada</option>
              <option value="19" class="ex-bicep">Bíceps concentrada</option>
              <option value="20" class="ex-bicep">Bíceps martelo</option>
              <option value="21" class="ex-bicep">Bíceps Scott</option>
              <option value="22" class="ex-bicep">Bíceps 21</option>
              <option value="23" class="ex-bicep">Bíceps inversa</option>
              <option value="24" class="ex-bicep">Bíceps spider</option>

              <option value="25" class="ex-tricep">Tríceps testa</option>
              <option value="26" class="ex-tricep">Tríceps francês</option>
              <option value="27" class="ex-tricep">Pulley tríceps</option>
              <option value="28" class="ex-tricep">Dips</option>
              <option value="29" class="ex-tricep">Extensões de tríceps</option>
              <option value="30" class="ex-tricep">Supino fechado</option>
              <option value="31" class="ex-tricep">Fundos entre bancos</option>

              <option value="32" class="ex-ombros">Desenvolvimento militar</option>
              <option value="33" class="ex-ombros">Elevações laterais</option>
              <option value="34" class="ex-ombros">Remada alta</option>
              <option value="35" class="ex-ombros">Elevações frontais</option>
              <option value="36" class="ex-ombros">Elevações de ombros</option>
              <option value="37" class="ex-ombros">Desenvolvimento com halteres sentado</option>
              <option value="38" class="ex-ombros">Desenvolvimento Arnold</option>
              <option value="39" class="ex-ombros">Encolhimentos de ombros</option>

              <option value="40" class="ex-costas">Barra fixa</option>
              <option value="41" class="ex-costas">Puxada de frente</option>
              <option value="42" class="ex-costas">Remada com barra</option>
              <option value="43" class="ex-costas">Remada unilateral</option>
              <option value="44" class="ex-costas">Pulldown</option>
              <option value="45" class="ex-costas">Remada curvada</option>
              <option value="46" class="ex-costas">Hiperextensões</option>
              <option value="47" class="ex-costas">Puxada alta</option>
            </select>
            <label class="input-group-text" for="inputSelectDescansoEx2"><i class="bi bi-stopwatch"></i></label>
            <select class="form-select" id="inputSelectDescansoEx2">
              <option hidden selected>Descanso...</option>
              <option value="1">1:00</option>
              <option value="2">2:00</option>
              <option value="3">3:00</option>
            </select>
          </div>
          <!-- Input Group 3 -->
          <div class="input-group mb-3 group-exercise">
            <label class="input-group-text" for="inputSelectEx3"><i class="bi bi-activity"></i></label>
            <select class="form-select select-exercicio" id="inputSelectEx3">
              <option hidden selected>Exercício 3...</option>
              <option value="1" class="ex-pernas">Agachamento</option>
              <option value="2" class="ex-pernas">Lunges (avanços)</option>
              <option value="3" class="ex-pernas">Extensões de pernas</option>
              <option value="4" class="ex-pernas">Elevações de panturrilha</option>
              <option value="5" class="ex-pernas">Prensa de pernas</option>
              <option value="6" class="ex-pernas">Afundos</option>
              <option value="7" class="ex-pernas">Stiff</option>
              <option value="8" class="ex-pernas">Glúteos em 4 apoios</option>

              <option value="9" class="ex-peito">Supino reto</option>
              <option value="10" class="ex-peito">Supino inclinado</option>
              <option value="11" class="ex-peito">Supino declinado</option>
              <option value="12" class="ex-peito">Flexões de peito</option>
              <option value="13" class="ex-peito">Crucifixo</option>
              <option value="14" class="ex-peito">Peck deck</option>
              <option value="15" class="ex-peito">Apoio de peito em paralelas</option>
              <option value="16" class="ex-peito">Flyes</option>

              <option value="17" class="ex-bicep">Bíceps direta</option>
              <option value="18" class="ex-bicep">Bíceps alternada</option>
              <option value="19" class="ex-bicep">Bíceps concentrada</option>
              <option value="20" class="ex-bicep">Bíceps martelo</option>
              <option value="21" class="ex-bicep">Bíceps Scott</option>
              <option value="22" class="ex-bicep">Bíceps 21</option>
              <option value="23" class="ex-bicep">Bíceps inversa</option>
              <option value="24" class="ex-bicep">Bíceps spider</option>

              <option value="25" class="ex-tricep">Tríceps testa</option>
              <option value="26" class="ex-tricep">Tríceps francês</option>
              <option value="27" class="ex-tricep">Pulley tríceps</option>
              <option value="28" class="ex-tricep">Dips</option>
              <option value="29" class="ex-tricep">Extensões de tríceps</option>
              <option value="30" class="ex-tricep">Supino fechado</option>
              <option value="31" class="ex-tricep">Fundos entre bancos</option>

              <option value="32" class="ex-ombros">Desenvolvimento militar</option>
              <option value="33" class="ex-ombros">Elevações laterais</option>
              <option value="34" class="ex-ombros">Remada alta</option>
              <option value="35" class="ex-ombros">Elevações frontais</option>
              <option value="36" class="ex-ombros">Elevações de ombros</option>
              <option value="37" class="ex-ombros">Desenvolvimento com halteres sentado</option>
              <option value="38" class="ex-ombros">Desenvolvimento Arnold</option>
              <option value="39" class="ex-ombros">Encolhimentos de ombros</option>

              <option value="40" class="ex-costas">Barra fixa</option>
              <option value="41" class="ex-costas">Puxada de frente</option>
              <option value="42" class="ex-costas">Remada com barra</option>
              <option value="43" class="ex-costas">Remada unilateral</option>
              <option value="44" class="ex-costas">Pulldown</option>
              <option value="45" class="ex-costas">Remada curvada</option>
              <option value="46" class="ex-costas">Hiperextensões</option>
              <option value="47" class="ex-costas">Puxada alta</option>
            </select>
            <label class="input-group-text" for="inputSelectDescansoEx3"><i class="bi bi-stopwatch"></i></label>
            <select class="form-select" id="inputSelectDescansoEx3">
              <option hidden selected>Descanso...</option>
              <option value="1">1:00</option>
              <option value="2">2:00</option>
              <option value="3">3:00</option>
            </select>
          </div>
          <!-- Input Group 4 -->
          <div class="input-group mb-3 group-exercise">
            <label class="input-group-text" for="inputSelectEx4"><i class="bi bi-activity"></i></label>
            <select class="form-select select-exercicio" id="inputSelectEx4">
              <option hidden selected>Exercício 4...</option>
              <option value="1" class="ex-pernas">Agachamento</option>
              <option value="2" class="ex-pernas">Lunges (avanços)</option>
              <option value="3" class="ex-pernas">Extensões de pernas</option>
              <option value="4" class="ex-pernas">Elevações de panturrilha</option>
              <option value="5" class="ex-pernas">Prensa de pernas</option>
              <option value="6" class="ex-pernas">Afundos</option>
              <option value="7" class="ex-pernas">Stiff</option>
              <option value="8" class="ex-pernas">Glúteos em 4 apoios</option>

              <option value="9" class="ex-peito">Supino reto</option>
              <option value="10" class="ex-peito">Supino inclinado</option>
              <option value="11" class="ex-peito">Supino declinado</option>
              <option value="12" class="ex-peito">Flexões de peito</option>
              <option value="13" class="ex-peito">Crucifixo</option>
              <option value="14" class="ex-peito">Peck deck</option>
              <option value="15" class="ex-peito">Apoio de peito em paralelas</option>
              <option value="16" class="ex-peito">Flyes</option>

              <option value="17" class="ex-bicep">Bíceps direta</option>
              <option value="18" class="ex-bicep">Bíceps alternada</option>
              <option value="19" class="ex-bicep">Bíceps concentrada</option>
              <option value="20" class="ex-bicep">Bíceps martelo</option>
              <option value="21" class="ex-bicep">Bíceps Scott</option>
              <option value="22" class="ex-bicep">Bíceps 21</option>
              <option value="23" class="ex-bicep">Bíceps inversa</option>
              <option value="24" class="ex-bicep">Bíceps spider</option>

              <option value="25" class="ex-tricep">Tríceps testa</option>
              <option value="26" class="ex-tricep">Tríceps francês</option>
              <option value="27" class="ex-tricep">Pulley tríceps</option>
              <option value="28" class="ex-tricep">Dips</option>
              <option value="29" class="ex-tricep">Extensões de tríceps</option>
              <option value="30" class="ex-tricep">Supino fechado</option>
              <option value="31" class="ex-tricep">Fundos entre bancos</option>

              <option value="32" class="ex-ombros">Desenvolvimento militar</option>
              <option value="33" class="ex-ombros">Elevações laterais</option>
              <option value="34" class="ex-ombros">Remada alta</option>
              <option value="35" class="ex-ombros">Elevações frontais</option>
              <option value="36" class="ex-ombros">Elevações de ombros</option>
              <option value="37" class="ex-ombros">Desenvolvimento com halteres sentado</option>
              <option value="38" class="ex-ombros">Desenvolvimento Arnold</option>
              <option value="39" class="ex-ombros">Encolhimentos de ombros</option>

              <option value="40" class="ex-costas">Barra fixa</option>
              <option value="41" class="ex-costas">Puxada de frente</option>
              <option value="42" class="ex-costas">Remada com barra</option>
              <option value="43" class="ex-costas">Remada unilateral</option>
              <option value="44" class="ex-costas">Pulldown</option>
              <option value="45" class="ex-costas">Remada curvada</option>
              <option value="46" class="ex-costas">Hiperextensões</option>
              <option value="47" class="ex-costas">Puxada alta</option>
            </select>
            <label class="input-group-text" for="inputSelectDescansoEx4"><i class="bi bi-stopwatch"></i></label>
            <select class="form-select" id="inputSelectDescansoEx4">
              <option hidden selected>Descanso...</option>
              <option value="1">1:00</option>
              <option value="2">2:00</option>
              <option value="3">3:00</option>
            </select>
          </div>
          <!-- Description -->
          <h5>Descrição</h5>
          <!-- Input Group 5 -->
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputSelectTipo">Tipo</label>
            <select class="form-select" id="inputSelectTipo">
              <option value="1">Força</option>
              <option value="2">Resistência</option>
              <option value="3">Hipertrofia</option>
              <option value="4" selected>Manutenção</option>
            </select>
            <label class="input-group-text" for="inputSelectDificuldade">Dificuldade</label>
            <select class="form-select" id="inputSelectDificuldade">
              <option value="1">Iniciante</option>
              <option value="2" selected>Normal</option>
              <option value="3">Avançado</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary" id="post-plan">Postar</button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <!-- Iteração dos Planos na Database -->
  {% if plans|length == 0 %}
  <div class="no-plans" style="
    width: 100%;
    text-align: center;
    font-size: 3rem;
    padding: 5rem;
  ">Não existem planos de treino disponíveis</div>
  {% endif %}
  {% for plan in plans|reverse %}
  <div class="plano-treino container">
    <div class="plano-description">
      <div class="plano-title">
        <h3 class="m-0">{{ plan[1] }}</h3>
        <div>Autor: {{ plan[2] }}</div>
      </div>
      <div class="plano-info">
        <span>Tipo: {{ plan[3] }}</span>
        <span>Dificuldade: {{ plan[4] }}</span>
      </div>
    </div>
    <div class="plano-show">
      <!-- Button trigger modal -->
      <button type="button" data-bs-toggle="modal" data-bs-target="#Modal{{plan[0]}}">
        Ver Plano
      </button>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="Modal{{plan[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">{{plan[1]}}</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="sets-information">
            {% for num in range(1, plan[6]|length + 1) %}
            <div class="is-6"><b>Set {{num}}</b> - {{plan[6][num-1]}} repetições</div>
            {% endfor %}
          </div>
          <h4 style="padding-top: 1rem;">Exercícios</h4>
          <div class="exercises-information">
            {% for num in range(1, plan[7]|length + 1) %}
            <div style="margin-top: 20px;"><b>Exercício {{num}}</b> - {{plan[7][num-1]}}</div>
            {% if num != plan[7]|length %}
            <div>Descanso: {{plan[8][num-1]}}</div>
            {% endif %}
            {% endfor %}
          </div>
          <div class="exercising-security" style="margin-top: 30px;">
            <b>Aviso Importante:</b> Cuidados ao Realizar os Exercícios
            <br><br>
            Ao realizar os exercícios mencionados, é essencial ter em mente a sua segurança e bem-estar. É importante respeitar os seus limites e utilizar pesos que sejam adequados ao seu nível de condicionamento físico.
            <br><br>
            Treine com cuidado e desfrute dos seus exercícios!
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary guardar-plano" id="{{plan[0]}}">Guardar Plano</button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <!-- Plano 1 -->
  <!-- <div class="plano-treino container">
    <div class="plano-description">
      <div class="plano-title">
        <h3 class="m-0">Treino de Peito</h3>
        <div>Autor: Nuno Oliveira</div>
      </div>
      <div class="plano-info">
        <span>Tipo: Hipertrofia</span>
        <span>Dificuldade: Avançado</span>
      </div>
    </div>
    <div class="plano-show">
      <button>Ver Plano</button>
    </div>
  </div> -->
</div>
<!-- Custom JS -->
<script src="{{ url_for('static', filename='javascript/plans.js')}}"></script>
{% endblock %}