{% extends "base.html" %}
{% block title %}Profile - Built Different{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/profile.css')}}">
{% endblock %}
{% block beforenav %}
<div class="d-flex flex-column vh-100" style="min-height: 990px;">
{% endblock %}
{% block body %}
    <div class="profile">
        <div class="profile-box">
            <!-- Statistics -->
            <div class="content is-selected" id="profile-stats">
                <div class="personal-stats">
                    <div class="stats-col">
                        <div class="statistic">
                            <p>Idade</p>
                            <div class="stats-value">
                                <input class="stats-input" value="#">
                                <i class="bi bi-pencil"></i>
                            </div>
                        </div>
                        <div class="statistic">
                            <p>Altura (Cm)</p>
                            <div class="stats-value">
                                <input class="stats-input" value="#">
                                <i class="bi bi-pencil"></i>
                            </div>
                        </div>
                        <div class="statistic">
                            <p>Peso (Kg)</p>
                            <div class="stats-value">
                                <input class="stats-input" value="#">
                                <i class="bi bi-pencil"></i>
                            </div>
                        </div>
                        <div class="statistic">
                            <p>Género</p>
                            <div class="stats-options">
                                <div class="option gender opt1" style="border-left: none; border-right: solid #0a192f 1px !important;">
                                    Masculino
                                </div>
                                <div class="option gender opt2" style="border-right: none; border-left: solid #0a192f 1px !important;">
                                    Feminino
                                </div>
                            </div>
                        </div>
                        <div class="statistic">
                            <p>Objetivo</p>
                            <div class="stats-options">
                                <div class="option objective opt1" style="border-left: none; border-right: solid #0a192f 1px !important;">
                                    Cut
                                </div>
                                <div class="option objective opt2" style="border-right: none; border-left: solid #0a192f 1px !important;">
                                    Bulk
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="personal-results">
                    <div class="personal-bmi">

                    </div>
                    <div class="personal-macros">

                    </div>
                </div>
            </div>  
            <!-- Plans -->
            <div class="content" id="profile-plans">
                <h1>Saved Plans</h1>
                <div class="inner-box">
                    <button class="btn-plan">Abs</button>
                    <button class="btn-plan">Chest</button>
                </div>
            </div>
            <!-- Settings -->
            <div class="content" id="profile-password">
                <div>Change Password</div>
                <div>Current Password</div>
                <div>New Password</div>
                <div>Repeat Password</div>
            </div>
            <div class="content" id="profile-account">
                <h1>Account Settings</h1>
                <div class="inner-box">
                    <div>Settings 1</div>
                    <div>Settings 2</div>
                </div>
            </div>
        </div>
        <div class="profile-tabs">
            <div class="profile-image">
                <img alt="profile-image" src="{{ url_for('static', filename='images/person.png') }}">
                <div class="profile-username">{{username}}'s profile</div>
            </div>
            <li class="nav-item">
            <a class="nav-link active" data-target="profile-stats" aria-current="page" href="#">Stats</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" data-target="profile-plans" href="#">Saved Plans</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="settings" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Settings</a>
                <ul class="dropdown-menu">
                <li><a class="dropdown-item" data-target="profile-password" href="#">Password</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" data-target="profile-account" href="#">Account</a></li>
                </ul>
            </li>
        </div>
    </div>
</div> <!-- Ending the 100vh div -->

    <script src="{{url_for('static', filename='javascript/profile.js')}}"></script>
{% endblock %}